# Virtual Environment
.venv/
venv/
env/
bin/

# Environment Variables
.env

# Python Cache
__pycache__/
*.py[cod]
*$py.class

# IDE Settings
.vscode/

# LocalStack Data
.localstack/
infra/localstack_data/
infra/locastack_data/cache

# Ignore all data files, but keep the folders
data/**/*.json
data/**/*.parquet
data/**/*.csv
data
data/gold
data/raw
